<div class="player">
    <div class="head">
        <div class="back"></div>
        <div class="front">
            <div class="avatar"><img src="images/raddyo-com-logo.svg" /></div>
            <div class="infos">
                <div class="titulo_song" id="streamName">Stream waiting...</div>
                <div class="duracao_song">LIVE</div>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="soundline"></div>
        <div class="controllers active">
            <div class="play" id="playpause"></div>
            <div class="volume-container">
                <div class="volume-button">
                    <div class="volume icono-volumeMedium"></div>
                </div>
                <div class="volume-slider">
                    <div class="volume-percentage"></div>
                </div>
            </div>
        </div>
    </div>
</div>